<app-navbar *ngIf="!editMode" ></app-navbar>
<app-edit-toolbar *ngIf="editMode"></app-edit-toolbar>

<div class="page" [ngClass]="editMode?'editMode':'viewMode'">
    <div class="page-top">
        <h1>
            {{title | titlecase}}
        </h1>

        <div class="edit button" (click)="toggleEditMode()">
            {{editMode?"save":"edit"}}
        </div>
    </div>


    <div *ngFor="let element of pageContents; let i=index">
        <div *ngIf="element.type === 'Header'">
            <h1>
                {{element.text}}
            </h1>
        </div>

        <app-paragraph 
        *ngIf="element.type === 'Paragraph'"
        [editMode]="editMode"
        [(data)]="pageContents[i].text"
        >
        </app-paragraph>

    </div>


    <div (click)="test()" class="edit button">
        test
    </div>
</div>